mixin slide(num,max,src,text,link)
    .mySlides.fade
        .numberText= num+"/"+max
        a(href=link, target="_blank", rel="noopener noreferrer") #[img(src=src, alt="project image")]
        .text= text

mixin expertise(text)
    .cardExpert
        h3= text

doctype html
html
  head
    block title 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin="")
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" type="text/css")
    style
        include ../static/style.css
        include ../static/responsive.css
  body
    //- notification
    div#noti
        h3 Your response has been recorded successfully, #[span Thankyou!]😊
        button#btn #[i.fad.fa-times]
    //- navbar
    include nav.pug

    //- content
    block content

    //- footer
    include footer.pug

    //- button to top
    div.button-to-top 
        div.button-link #[i.fad.fa-chevron-double-up] 
    
    //-js files 
    script(src="https://unpkg.com/aos@next/dist/aos.js") 
    script(src="../static/app.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
    script(src="../static/scroll.js")
    
    //- AOS sliders
    script AOS.init({offset: 300,delay: 1,once: true , duration: 1000});
      